.terms {
  background-color: var(--clr-light-400);
  padding: clamp(rem(60), vw(104), rem(104)) 0 clamp(rem(60), vw(120), rem(120));
  @include max-width($tm) {
    padding: $middle-spacing-padding 0;
  }
  position: relative;
  .steps-names {
    &__item {
      margin-top: 13.5rem;
    }
  }
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 rem(30);
    margin-bottom: rem(37);
  }
  &__warning {
    text-align: center;
    color: var(--clr-red-400);
    p {
      font-size: clamp(rem(12), vw(18), rem(18));
      font-weight: 600;
      line-height: 150%;
    }
  }
  &__descr {
    p {
      span {
        margin-top: rem(10);
        display: block;
        font-size: rem(12);
        line-height: 150%;
      }
    }
  }
  &__column {
    box-shadow: var(--white-box-shadow);
    border-radius: $br-12;
    min-height: rem(440);
    padding-bottom: 1rem;
  }
  &__title {
    text-align: center;
  }
  &__subtitle {
    text-align: center;
    font-size: rem(20);
  }
  &__heading {
    margin-bottom: rem(35);
  }
  &__image {
    max-width: 100%;
    border-radius: $br-12;
    max-height: rem(242);
    margin-bottom: rem(23);
    img, picture {
      width: 100%;
      max-height: inherit;
      border-radius: inherit;
      max-width: inherit;
    }
  }
  &__info {
    text-align: center;
    padding: 0 rem(17)
  }
  &__column-name {
    font-size: rem(18);
    font-weight: 600;
    margin-bottom: rem(14);
  }
}

@include max-width($tm) {
  .terms {
    &__title {
      margin-top: 0;
    }
    &__descr {
      p {
        font-size: rem(14);
      }
    }
  }
}

@include max-width($mm) {
  .terms {
    &__title {
      font-size: rem(25);
      max-width: rem(400);
      margin-inline: auto;
    }
    &__subtitle {
      font-size: 1rem;
    }
    &__row {
      grid-gap: 1.5rem;
      display: flex;
      flex-direction: column;
    }
    &__column {
      min-height: auto;
    }
  }
}

@include max-width(em(1650)) {
  .terms {
    &__title {
      margin-top: 1rem;
    }
  }
}

