.usage {
  background-color: var(--clr-light-300);
  padding: clamp(rem(60), vw(115), rem(115)) 0;
  @include max-width($tm) {
    padding: $middle-spacing-padding 0;
  }
  position: relative;
  .steps-names {
    &__item {
      margin-top: 6.7rem;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: auto minmax(rem(540), rem(450));
    justify-content: space-between;
    align-items: center;
    grid-gap: clamp(rem(40), vw(83), rem(83));
  }
  .capability-row {
    position: relative;
    &::before {
      content: url('../../img/usage/dark-arrow.svg');
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(140deg);
    }
    grid-gap: 4.375rem rem(7);
    &__arrow {
      &--rotated {
        transform: scaleY(-1);
      }
    }
    &__item {
      background-color: var(--clr-light-400);
      &--stock {
        .capability-row__icon {
          max-width: rem(151);
        }
      }
      &--long-text {
        .capability-row__icon {
          max-width: rem(91);
        }
      }
      &::before {
        z-index: -1;
        background-color: hsla(210, 54%, 56%, 0.07);
      }
    }
  }
  &__title {
    text-align: left;
    margin-bottom: rem(15);
  }
  &__subheading {
    font-size: rem(20);
    margin-bottom: rem(23);
  }
  &__list {
    margin-bottom: rem(20);
  }
  &__warning {
    font-size: rem(20);
  }
}

.usage-row {
  display: flex;
  flex-direction: column;
  grid-gap: rem(10);
  &__item {
    font-size: rem(20);
    display: flex;
    align-items: center;
    grid-gap: rem(25);
    span {
      display: block;
      width: rem(3.5);
      height: rem(3.5);
      background-color: var(--clr-text);
      border-radius: 50%;
      flex: 0 auto;
    }
  }
}

@include max-width(em(1120)) {
  .usage {
    &__body {
      width: fit-content;
      display: flex;
      flex-direction: column-reverse;
      max-width: rem(700);
      margin-inline: auto;
    }
  }
}

@include max-width($mm) {
  .usage {
    &__subheading {
      font-size: 1rem;
    }
    &__warning {
      font-size: rem(14);
    }
    .capability-row {
      &__arrow {
        // max-width: rem(25);
      }
    }
  }
  .usage-row {
    &__item {
      font-size: .9375rem;
    }
  }
}

@include max-width(em(1650)) {
  .usage {
    &__container {
      margin-top: 1rem;
    }
  }
}

@include max-width($tm) {
  .usage {
    &__container {
      margin-top: 0;
    }
    .capability-row {
      &__item {
        &--stock {
          .capability-row__icon {
            max-width: rem(100);
          }
        }
        &--long-text {
          .capability-row__icon {
            max-width: rem(60);
          }
        }
      }
    }
  }
}

@include max-width(25em) {
  .usage {
    .capability-row {
      flex-direction: column;
      grid-gap: rem(1.5);
      &::before {
        content: none;
      }
      &__arrow {
        margin: 1rem 0;
        transform: rotate(90deg);
        max-width: rem(25);
      }
    }
  }
}

@include min-width(25em) {
  .usage {
    .capability-row {
      &__arrow {
        &--hidden-arrow {
          display: none;
        }
      }
    }
  }
}
